@use 'functions';

$color-white: #FFFFFF;
$color-grey: #949494;
$color-blue-800: #242742;
$color-blue-700: #36384D;
$color-red: #FF6155;
$color-red-100: #FFE7E6;
$color-gradient-left: #FF6A3A;
$color-gradient-right: #FF527B;
$color-attribution: hsl(228, 45%, 66%);

$space-8px: functions.to-rem(8px);
$space-16px: functions.to-rem(16px);
$space-24px: functions.to-rem(24px);
$space-32px: functions.to-rem(32px);
$space-40px: functions.to-rem(40px);
$space-48px: functions.to-rem(48px);
$space-64px: functions.to-rem(64px);
$space-72px: functions.to-rem(72px);
$space-104px: functions.to-rem(194px);

$radius-8px: functions.to-rem(8px);
$radius-16px: functions.to-rem(16px);
$radius-36px: functions.to-rem(36px);

$phone-width: functions.to-rem(600px);
$tablet-width: functions.to-rem(960px);

@mixin tablet-and-up {
  @media (min-width: $phone-width) {
    @content
  }
}

@mixin desktop-and-up {
  @media (min-width: $tablet-width) {
    @content
  }
}

@mixin text-preset-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;

  @include tablet-and-up {
    font-size: 56px;
  }
}

@mixin text-preset-2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-2-bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet-and-up {
    padding: $space-72px;
  }
}

#attribution {
  font-size: 11px;
  text-align: center;
  color: $color-white;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

#attribution a {
  color: $color-attribution;
}

body {
  margin: 0;
  background-color: $color-blue-700;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: $color-white;
  height: 100%;
  max-width: 600px;
  width: 100%;
  display: none;
  flex-direction: column;

  @include tablet-and-up {
    box-shadow: 0 10px 30px 0 rgb($color-blue-800, 1);
    border-radius: $radius-36px;
    padding: $space-32px;
    height: fit-content;
  }

  @include desktop-and-up {
    padding: $space-24px;
    max-width: 900px;
    flex-direction: row-reverse;
  }

  &.active {
    display: flex;
  }
}

#cardContent {
  padding: $space-40px $space-24px;
  display: flex;
  flex-direction: column;
  row-gap: $space-24px;

  @include tablet-and-up {
    padding: $space-40px 0 0 0;
  }

  @include desktop-and-up {
    padding: $space-40px $space-48px 0 $space-48px;
    row-gap: 0;
  }
}

#cardContentForm {
  display: flex;
  flex-direction: column;
  row-gap: $space-24px;
}

.cardContentFormButton {
  border: 0;
  border-radius: 8px;
  background-color: $color-blue-800;
  padding: $space-16px;
  color: $color-white;
  outline: none;
  cursor: pointer;
  transition: background-image 0.5s ease-out;

  @include text-preset-2-bold;

  &:hover, &:focus-visible {
    background-image: linear-gradient(to right, $color-gradient-left, $color-gradient-right);
  }
}

#cardContentHeader {
  display: flex;
  flex-direction: column;
  row-gap: $space-24px;

  @include desktop-and-up {
    row-gap: $space-16px;
  }
}

#cardContentHeaderList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContentHeaderListItem {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: $color-blue-800;

  @include text-preset-2;

  @include tablet-and-up {
    align-items: center;
  }
}

.cardContentHeaderListItem img {
  margin-right: $space-16px;
  width: 20px;
  height: 20px;
}

.cardContentHeaderListItemText {
  display: block;

  @include tablet-and-up {
    line-height: 200%;
  }
}

#cardContentHeaderText {
  color: $color-blue-800;

  @include text-preset-2;
}

#cardContentHeaderTitle {
  color: $color-blue-800;

  @include text-preset-1;
}

#cardImage {
  border-radius: 0 0 $radius-16px $radius-16px;
  width: 100%;

  @include tablet-and-up {
    border-radius: $radius-16px;
  }
}

#cardSuccess {
  background-color: $color-white;
  padding: $space-104px $space-24px $space-64px $space-24px;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  row-gap: $space-32px;

  @include tablet-and-up {
    box-shadow: 0 10px 30px 0 rgb($color-blue-800, 1);
    border-radius: $radius-36px;
    padding: $space-48px;
    height: fit-content;
    max-width: 500px;
  }

  &.active {
    display: flex;
  }
}

#cardSuccessContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: $space-24px;
}

#cardSuccessContentImage {
  height: 64px;
  width: 64px;
}

#cardSuccessContentText {
  flex-grow: 1;
  color: $color-blue-800;

  @include text-preset-2;
}

#cardSuccessContentTextEmail {
  @include text-preset-2-bold;
}

#cardSuccessContentTitle {
  color: $color-blue-800;

  @include text-preset-1;
}

h1, h2, p {
  margin: 0;
}