* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 37.5rem) {
  #app {
    padding: 4.5rem;
  }
}

#attribution {
  font-size: 11px;
  text-align: center;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

#attribution a {
  color: hsl(228, 45%, 66%);
}

body {
  margin: 0;
  background-color: #36384D;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: #FFFFFF;
  height: 100%;
  max-width: 600px;
  width: 100%;
  display: none;
  flex-direction: column;
}
@media (min-width: 37.5rem) {
  #card {
    box-shadow: 0 10px 30px 0 #242742;
    border-radius: 2.25rem;
    padding: 2rem;
    height: fit-content;
  }
}
@media (min-width: 60rem) {
  #card {
    padding: 1.5rem;
    max-width: 900px;
    flex-direction: row-reverse;
  }
}
#card.active {
  display: flex;
}

#cardContent {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (min-width: 37.5rem) {
  #cardContent {
    padding: 2.5rem 0 0 0;
  }
}
@media (min-width: 60rem) {
  #cardContent {
    padding: 2.5rem 3rem 0 3rem;
    row-gap: 0;
  }
}

#cardContentForm {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.cardContentFormButton {
  border: 0;
  border-radius: 8px;
  background-color: #242742;
  padding: 1rem;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  transition: background-image 0.5s ease-out;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}
.cardContentFormButton:hover, .cardContentFormButton:focus-visible {
  background-image: linear-gradient(to right, #FF6A3A, #FF527B);
}

#cardContentHeader {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (min-width: 60rem) {
  #cardContentHeader {
    row-gap: 1rem;
  }
}

#cardContentHeaderList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContentHeaderListItem {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: #242742;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  .cardContentHeaderListItem {
    align-items: center;
  }
}

.cardContentHeaderListItem img {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

.cardContentHeaderListItemText {
  display: block;
}
@media (min-width: 37.5rem) {
  .cardContentHeaderListItemText {
    line-height: 200%;
  }
}

#cardContentHeaderText {
  color: #242742;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

#cardContentHeaderTitle {
  color: #242742;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  #cardContentHeaderTitle {
    font-size: 56px;
  }
}

#cardImage {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
}
@media (min-width: 37.5rem) {
  #cardImage {
    border-radius: 1rem;
  }
}

#cardSuccess {
  background-color: #FFFFFF;
  padding: 12.125rem 1.5rem 4rem 1.5rem;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 37.5rem) {
  #cardSuccess {
    box-shadow: 0 10px 30px 0 #242742;
    border-radius: 2.25rem;
    padding: 3rem;
    height: fit-content;
    max-width: 500px;
  }
}
#cardSuccess.active {
  display: flex;
}

#cardSuccessContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1.5rem;
}

#cardSuccessContentImage {
  height: 64px;
  width: 64px;
}

#cardSuccessContentText {
  flex-grow: 1;
  color: #242742;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

#cardSuccessContentTextEmail {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

#cardSuccessContentTitle {
  color: #242742;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  #cardSuccessContentTitle {
    font-size: 56px;
  }
}

h1, h2, p {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
